# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

# Okruženje i tajne (NIKAD ne kačiti - sadrži ključeve!)
.env
.env.backup
.env.production
auth.json

# IDE / editor
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpactor.json

# Logovi
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
